<h1>Stupid Coach</h1>


<form action="/answer" method="get">
  <div class="form-group">
    <label for="question">Talk to your stupid coach</label>
    <input type="text" name="question" autofocus="autofocus" class="form-control" placeholder="Are you really stupid?">
  </div>
  <input type="submit" value="ask!" class="btn btn-primary">
</form>
